.nav_links{
    display: grid;
    grid-template-rows: auto auto auto auto;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
  }

li a:hover {
    background-color: #555;
    color: white;
}

img{
    width: auto;
    max-width: 500px;
    margin: 10px;
	padding: 10px;
	border: 10px dashed white;

}

img:hover{
    width: auto;
    margin: 10px;
	padding: 10px;
	border: 10px dashed blue;

}

body {
    background: url("../images/background.png") repeat-x 0px 0px fixed;
    font-family: "Sofia", sans-serif;
    display: grid;
    grid-template-areas:
    'header'
    'aside'
    'main'
    'footer';
    margin: 20px;
    color: #005D85;
    background-color: #FFFFFF;
}

p h1 h2 {
    margin: 10px;
}

.nav a:hover, #current{
	text-decoration: underline;
}

header {
    grid-area: header;
}

main {
    grid-area: main;
}

aside {
    grid-area: aside;
    margin: 10px;
}

footer {
    grid-area: footer;
}

.gallery img {
    display: flex;
    flex-direction: column;
}

.skip a{
    background: white;
    left: 0;
    padding: 6px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
    position: absolute;
    top: -40px;
}
  
.skip a:focus{
    top: 0;
}

#main_pic { animation: fade 3s; }

@keyframes fade {
0% {
    opacity:0;
}
100% {
    opacity:1;
}
}

@media (prefers-reduced-motion: reduce) {
    #main_pic {
      animation: none;
    }
}

@media only screen and (min-width: 700px) {
    img {
        max-width: 700px;
    }
    .nav_links{
        grid-template-columns: auto auto auto auto;
    }

    body {
        grid-template-areas:
        'header header'
        'aside main'
        'footer footer';
    }
}


@media only screen and (min-width: 1000px) { 
    img {
        max-width: 800px;
    }
    .nav_links{
        font-size: 19px;
    }
}